<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div className="main-info">
      <p><strong>Account number:</strong> **N132</p>
      <p><strong>Bank name:</strong> HANG Bank</p>
      <p><strong>IFSC code:</strong> </p>
      <p>
        <strong>Total available balance:</strong> 9488
      </p>
    </div>
    <br />
    <h4>
      Detailed transactions between 18th May 2021 and 26th May 2021
    </h4>
    <table class="report-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Deposits</th>
          <th>Withdrawals</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>2021-05-24</td>
          <td>10000</td>
          <td></td>
          <td>10000</td>
        </tr>
        
        <tr>
          <td>2021-05-24</td>
          <td></td>
          <td>500</td>
          <td>9500</td>
        </tr>
        
        <tr>
          <td>2021-05-24</td>
          <td></td>
          <td>12</td>
          <td>9488</td>
        </tr>
        
      </tbody>
    </table>
  </body>
</html>